body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u45481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:783px;
  background:inherit;
  background-color:rgba(243, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45481 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:783px;
}
#u45482 {
  position:absolute;
  left:2px;
  top:384px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45483 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:40px;
}
#u45484 {
  position:absolute;
  left:2px;
  top:12px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45485 {
  position:absolute;
  left:16px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u45486 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u45487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:724px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45487 {
  position:absolute;
  left:9px;
  top:50px;
  width:1238px;
  height:724px;
}
#u45488 {
  position:absolute;
  left:2px;
  top:354px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 169, 249, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45489 {
  position:absolute;
  left:536px;
  top:719px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u45490 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u45491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u45491 {
  position:absolute;
  left:625px;
  top:719px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u45492 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u45493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45493 {
  position:absolute;
  left:39px;
  top:93px;
  width:127px;
  height:16px;
}
#u45494 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u45495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45495 {
  position:absolute;
  left:382px;
  top:90px;
  width:71px;
  height:16px;
}
#u45496 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u45497 {
  position:absolute;
  left:453px;
  top:86px;
  width:206px;
  height:25px;
}
#u45497_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45497_input:disabled {
  color:grayText;
}
#u45498 {
  position:absolute;
  left:848px;
  top:86px;
  width:281px;
  height:25px;
  overflow:hidden;
  visibility:hidden;
}
#u45498_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45498_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45499 {
  position:absolute;
  left:14px;
  top:4px;
  width:57px;
  height:16px;
}
#u45500 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u45501 {
  position:absolute;
  left:71px;
  top:0px;
  width:206px;
  height:25px;
}
#u45501_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u45501_input:disabled {
  color:grayText;
}
#u45502 {
  position:absolute;
  left:39px;
  top:161px;
  width:1187px;
  height:524px;
}
#u45502_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1187px;
  height:524px;
}
