body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1265px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u50869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:483px;
  background:inherit;
  background-color:rgba(243, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50869 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:483px;
}
#u50870 {
  position:absolute;
  left:2px;
  top:234px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50871 {
  position:absolute;
  left:0px;
  top:0px;
  width:1265px;
  height:40px;
}
#u50872 {
  position:absolute;
  left:2px;
  top:12px;
  width:1261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50873 {
  position:absolute;
  left:16px;
  top:11px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u50874 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:423px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50875 {
  position:absolute;
  left:9px;
  top:50px;
  width:1238px;
  height:423px;
}
#u50876 {
  position:absolute;
  left:2px;
  top:204px;
  width:1234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50877 {
  position:absolute;
  left:83px;
  top:125px;
  width:76px;
  height:16px;
}
#u50878 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u50879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50879 {
  position:absolute;
  left:32px;
  top:69px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u50880 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u50881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 169, 249, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u50881 {
  position:absolute;
  left:536px;
  top:404px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u50882 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u50883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u50883 {
  position:absolute;
  left:625px;
  top:404px;
  width:79px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#797979;
}
#u50884 {
  position:absolute;
  left:2px;
  top:7px;
  width:75px;
  word-wrap:break-word;
}
#u50885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50885 {
  position:absolute;
  left:116px;
  top:169px;
  width:43px;
  height:16px;
}
#u50886 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50887 {
  position:absolute;
  left:159px;
  top:169px;
  width:81px;
  height:16px;
}
#u50888 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u50889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50889 {
  position:absolute;
  left:499px;
  top:169px;
  width:71px;
  height:16px;
}
#u50890 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50891 {
  position:absolute;
  left:570px;
  top:169px;
  width:75px;
  height:16px;
}
#u50892 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u50893 {
  position:absolute;
  left:159px;
  top:118px;
  width:230px;
  height:30px;
}
#u50893_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50893_input:disabled {
  color:grayText;
}
#u50894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50894 {
  position:absolute;
  left:495px;
  top:125px;
  width:76px;
  height:16px;
}
#u50895 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u50896 {
  position:absolute;
  left:571px;
  top:118px;
  width:230px;
  height:30px;
}
#u50896_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50896_input:disabled {
  color:grayText;
}
#u50897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50897 {
  position:absolute;
  left:901px;
  top:125px;
  width:76px;
  height:16px;
}
#u50898 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u50899 {
  position:absolute;
  left:977px;
  top:118px;
  width:230px;
  height:30px;
}
#u50899_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u50899_input:disabled {
  color:grayText;
}
#u50900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50900 {
  position:absolute;
  left:906px;
  top:169px;
  width:71px;
  height:16px;
}
#u50901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50902 {
  position:absolute;
  left:977px;
  top:169px;
  width:89px;
  height:16px;
}
#u50903 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u50904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50904 {
  position:absolute;
  left:116px;
  top:215px;
  width:43px;
  height:16px;
}
#u50905 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50906 {
  position:absolute;
  left:159px;
  top:215px;
  width:81px;
  height:16px;
}
#u50907 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u50908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50908 {
  position:absolute;
  left:499px;
  top:215px;
  width:71px;
  height:16px;
}
#u50909 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u50910 {
  position:absolute;
  left:570px;
  top:208px;
  width:225px;
  height:30px;
}
#u50910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50911 {
  position:absolute;
  left:83px;
  top:275px;
  width:1124px;
  height:88px;
}
#u50912 {
  position:absolute;
  left:2px;
  top:36px;
  width:1120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50913 {
  position:absolute;
  left:102px;
  top:287px;
  width:43px;
  height:16px;
}
#u50914 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u50915 {
  position:absolute;
  left:156px;
  top:287px;
  width:522px;
  height:62px;
}
#u50915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:62px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
